
/**/
body{
    background-color: #f8f8f8;
} 

/**/
.header{
	height: 300px;
}

.container{
	width: 100%;
	margin-left: auto;
    margin-right: auto;
}

.footer{
	height: 100px;
	background-color: #e0f1115c;
	text-align: right;
	padding-top: 15px;
	padding-right: 15px;
}

/**/
.menu a {
    font-size: 22px;
    font-weight: bold;
}
.menu a:link {
    color: #497DDD; 
    border-bottom: 1px dashed; 
}
.menu a:visited {
    color: #EF7D55;
}
.menu a:hover {
    color: #154088; 
    border-bottom: .07em solid;
}
.menu a:active {
    color: #497DDD; 
    border-bottom: 1px dashed;
}

.menu li {
    list-style-type: none; /*убрали маркирование списка*/
	display: inline;
	padding-right: 15px;
}

.menu {
	position: absolute;
	left: 40px;
	top: 0px;
	width: 93%;
	text-align: right;
}

/**/
.prodSubHead {
    color: black;
	font-size: 18px;
    font-weight: 400;
	background: #eaeaea;
}

.prodLitDescr {
    color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.prodBigDescr {
    color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.prodList {
	color: red;
	font-size: 20px;
	font-style: bold;
	line-height: 18px;
	list-style-image: url(img/mark.png);
}

.prodImg {
    border: 3px solid #00a8e1;
}

.prodSpecsHeader {
    color: black;
	font-size: 14px;
    font-weight: 800;
	background: #1aeae0;
}
/**/
.contactInput {
	height: 24px;
	width: 300px;
	color: blue;
	font-size: 14px;
	text-transform: capitalize;
}

.contactMemo {
	height: 300px;
	width: 300px;
	text-transform: capitalize;
}

.inputEmail {
	height: 24px;
	width: 300px;
	color: blue;
	font-size: 14px;
	text-transform: capitalize;
}
.inputEmail:focus {
	height: 24px;
	width: 300px;
	color: red;
	font-size: 14px;
	text-transform: capitalize;
}

/**/
.logoImg {
	padding-left: 15px;
	width: 50px;
	height: 50px;
}

/**/
